In [1]:
import pandas
import numpy as np

In [2]:
sigma=0.5

# Estimate PCC max
## S669
### direct

In [3]:
s669_ddg = pandas.read_csv('s669_muts.csv')['ddg']
s669_ddg.shape, s669_ddg.head()

((669,),
 0   -1.80
 1   -2.69
 2   -1.98
 3   -1.70
 4   -1.36
 Name: ddg, dtype: float64)

In [4]:
ten_random = np.random.normal( scale=sigma, size=(len(s669_ddg), 10))
ten_random.shape

(669, 10)

In [5]:
ddg10=np.repeat(np.array(s669_ddg),10).reshape(ten_random.shape)

In [6]:
fake_ddg= pandas.DataFrame(ddg10+ten_random)
fake_ddg.head()

,0,1,2,3,4,5,6,7,8,9
0,-2.594237,-2.148752,-1.218358,-2.075413,-1.936850,-0.905994,-1.544817,-1.347958,-1.650255,-2.114393
1,-2.881013,-2.766256,-3.269687,-3.012130,-2.996301,-3.215874,-2.866357,-2.691186,-3.675739,-2.497780
2,-0.905326,-1.713733,-2.085473,-1.608059,-1.782635,-2.111960,-2.536569,-2.127340,-2.054265,-2.020968
3,-1.919019,-1.268419,-1.563000,-0.954975,-1.532866,-2.812300,-1.639280,-1.734629,-1.236278,-0.886532
4,-1.743646,-0.894350,-1.222891,-1.728461,-1.262284,-1.489188,-2.145334,-1.980894,-0.255324,-1.716250

In [7]:
ten_corrs=fake_ddg.corrwith(s669_ddg)

In [8]:
ten_corrs.mean(),ten_corrs.std()

(0.9546248786803397, 0.0012690123521169614)

### combined

In [9]:
double_s669_ddg = pandas.concat([s669_ddg, -s669_ddg])
double_fake = pandas.concat([fake_ddg, -fake_ddg])
double_s669_ddg.shape, double_fake.shape

((1338,), (1338, 10))

In [10]:
double_corrs = double_fake.corrwith(double_s669_ddg)
double_corrs.mean(), double_corrs.std()

(0.9663366998546067, 0.0010112106939212644)

## S461
### direct

In [11]:
s461_ddg = pandas.read_csv('s461_muts.csv', sep=' ')['ddg']
s461_ddg.shape, s461_ddg.head()

((461,),
 0   -1.800
 1   -1.745
 2    0.287
 3   -0.287
 4   -0.263
 Name: ddg, dtype: float64)

In [12]:
ten_random_s = np.random.normal( scale=sigma, size=(len(s461_ddg), 10))
ten_random_s.shape

(461, 10)

In [13]:
ddg10_s=np.repeat(np.array(s461_ddg),10).reshape(ten_random_s.shape)

In [14]:
fake_ddg_461= pandas.DataFrame(ddg10_s+ten_random_s)
fake_ddg_461.head()

,0,1,2,3,4,5,6,7,8,9
0,-1.877454,-2.050725,-2.473752,-1.273176,-2.377162,-1.975860,-1.147984,-1.194304,-1.449961,-1.514700
1,-1.460789,-2.282656,-1.437137,-2.022299,-1.157055,-1.923695,-1.184220,-1.764000,-2.406761,-1.921316
2,-0.071078,0.592883,-0.479540,0.433491,-0.488861,0.485562,0.269007,-0.277321,0.552123,1.088062
3,-0.016571,-0.968521,-0.160919,-0.624326,-0.770103,-0.703582,-0.989078,-0.535583,-1.402978,-1.027718
4,-0.413546,0.178486,1.012506,-0.407834,0.492835,-0.782870,0.166234,0.125411,-0.201423,-0.652894

In [15]:
ten_corrs_461=fake_ddg_461.corrwith(s461_ddg)

In [16]:
ten_corrs_461.mean(),ten_corrs_461.std()

(0.9298903458307439, 0.00351231395274046)

### combined

In [17]:
double_s461_ddg = pandas.concat([s461_ddg, -s461_ddg])
double_fake_461 = pandas.concat([fake_ddg_461, -fake_ddg_461])
double_s461_ddg.shape, double_fake_461.shape

((922,), (922, 10))

In [18]:
double_corrs_461 = double_fake_461.corrwith(double_s461_ddg)
double_corrs_461.mean(), double_corrs_461.std()

(0.959228480199072, 0.0017661498512560618)